-e git+https://github.com/yiwenwang47/ALOE.git@5486f25307b882c72de5f0bd709b0f41fca5bb90#egg=ALOE
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
distlib==0.3.9
filelock==3.17.0
fsspec==2025.2.0
identify==2.6.8
idna==3.10
importlib_metadata==8.6.1
Jinja2==3.1.5
lark-parser==0.12.0
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
nodeenv==1.9.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.1.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
rdkit==2024.9.5
requests==2.32.3
setuptools==75.8.2
six==1.17.0
sympy==1.13.1
torch==2.6.0
torchani==2.2.4
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.2
wheel==0.45.1
zipp==3.21.0
